<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<link href="/assets/style.css" rel="stylesheet"/>
<link href="https://unpkg.com/swiper@8/swiper-bundle.min.css" rel="stylesheet"/>
<script src="https://cdn.tailwindcss.com"></script>
<header class="header w-full" th:fragment="header">
    <div
            class="top-header w-screen flex flex-col items-center justify-between border-b"
    >
        <div class="flex w-full items-center justify-between p-4 md:px-20 border-b">
            <div class="icons hidden lg:flex items-center gap-2">
                <a
                        class="text-gray-700 bg-gray-300/50 p-1 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center transition-all"
                        href="#"
                >
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a
                        class="text-gray-700 bg-gray-300/50 p-1 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center transition-all"
                        href="#"
                >
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a class="text-gray-700 bg-gray-300/50 p-1 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center transition-all"
                   href="#">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </div>
            <h3 class="text-gray-400 font-semibold text-xs">
                Sơn Lâm Wedding
            </h3>
            <div class="select hidden md:flex">
                <!--                <select class="mr-2 p-1 px-2 text-sm font-semibold" id="currency">-->
                <!--                    <option value="USD">USD $</option>-->
                <!--                    <option value="EUR">EUR €</option>-->
                <!--                </select>-->
                <select class="mr-2 p-1 px-2 text-sm font-semibold" id="language">
                    <option th:text="#{lang.vi}" value="en"></option>
                    <option th:text="#{lang.eng}" value="vi"></option>
                </select>
            </div>
        </div>
        <div
                class="gap-4 flex flex-col sm:flex-row w-full items-center justify-between p-6 md:px-24"
        >
            <h1 class="font-semibold text-4xl text-gray-600">Sơn Lâm Wedding</h1>
            <form class="relative w-full sm:w-3/5">
                <input
                        class="w-full h-full p-2 border rounded-xl"
                        id="search"
                        th:placeholder="#{search.placeholder}"
                        type="text"
                />
                <label class="absolute right-2 top-2" for="search">
                    <i class="fa-solid fa-magnifying-glass cursor-pointer"></i>
                </label>
            </form>
            <div class="icons hidden mr-2 text-3xl md:flex gap-8 text-gray-600">
                <div class="relative">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="relative">
              <span
                      class="text-xs text-center font-semibold text-white absolute -top-2 -right-2 w-4 h-4 bg-red-400 rounded-full"
              >0</span
              >
                    <ion-icon name="heart-outline"></ion-icon>
                </div>
                <div class="relative">
              <span
                      class="text-xs text-center font-semibold text-white absolute -top-2 -right-2 w-4 h-4 bg-red-400 rounded-full"
              >0</span
              >
                    <ion-icon name="bag-handle-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <!--! topHeader -->
    <!--? navbar -->
    <!--todo desktop Navbar -->
    <div class="desktopNavbar">
        <nav class="my-4 hidden lg:flex justify-center">
            <ul class="desktopNavbarUl flex justify-center items-center gap-12 font-sm font-bold text-gray-600" id="desktopNavbarUL">
                <script type="module">
                    import {MenuItems} from "/assets/dummy.js";

                    const content = MenuItems.map(menuItem => {
                        return `
                        <li class="nav_items relative parent_nav_item">
                            <a href="${menuItem.href}">${menuItem.title}</a>
                            <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"></span>`
                            + (menuItem.subItem != null
                                ?
                                `<ul class="hoveredItems w-52 absolute top-10 hidden flex-col items-start justify-start gap-2 p-4 rounded-xl shadow-lg border font-normal bg-white">`
                                + menuItem.subItem.map(subItem => `
                                <li >
                                   <a href="${subItem.href}">${subItem.title}</a>
                                </li>`).join('')
                                + `</ul>` : "")
                            + `</li>`
                    }).join('');
                    console.log(content)
                    document.getElementById("desktopNavbarUL").innerHTML += content;
                </script>
                <!--                <li class="nav_items relative">-->
                <!--                    <a href="#Home">HOME</a>-->
                <!--                    <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"></span>-->
                <!--                </li>-->
                <!--                <li class="nav_items relative category_nav_item">-->
                <!--                    <a href="#Categories">CATEGORIES</a>-->
                <!--                    <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"></span>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                    <ul class="categoriesItem absolute top-10 shadow-lg rounded-xl hidden grid-cols-4 p-4 gap-4 border text-gray-400 font-normal bg-white z-10">-->
                <!--                        <li th:each="category : ${categories}">-->
                <!--                            <h3 class="border-b py-2 mb-4 text-gray-900 font-semibold"-->
                <!--                                th:text="${category.getName()}">-->
                <!--                            </h3>-->
                <!--                            <ul class="flex flex-col items-start justify-start gap-2">-->
                <!--                                <li th:each="subCate : ${category.getSubcategories()}">-->
                <!--                                    <a href="#" th:text="${subCate.getName()}"></a>-->
                <!--                                </li>-->
                <!--                            </ul>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                </li>-->
                <!--                <li class="nav_items relative men_nav_item">-->
                <!--                    <a href="#Men">MEN'S</a>-->
                <!--                    <span-->
                <!--                            class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"-->
                <!--                    ></span>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                    <ul-->
                <!--                            class="hoveredItems w-52 absolute top-10 hidden flex-col items-start justify-start gap-2 p-4 rounded-xl shadow-lg border font-normal bg-white"-->
                <!--                    >-->
                <!--                        <li>-->
                <!--                            <a href="#">Shirt</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Shorts & Jeans</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Safety</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Wallet</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                </li>-->
                <!--                <li class="nav_items relative women_nav_item">-->
                <!--                    <a href="#Women">WOMEN'S</a>-->
                <!--                    <span class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"></span>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                    <ul-->
                <!--                            class="hoveredItems w-52 absolute top-10 hidden flex-col items-start justify-start gap-2 p-4 rounded-xl shadow-lg border font-normal bg-white"-->
                <!--                    >-->
                <!--                        <li>-->
                <!--                            <a href="#">Dress & Frock</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Earrings</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Necklace</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Makeup Kit</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                </li>-->
                <!--                <li class="nav_items relative jewelry_nav_item">-->
                <!--                    <a href="#Jewelry">JEWELRY</a>-->
                <!--                    <span-->
                <!--                            class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"-->
                <!--                    ></span>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                    <ul-->
                <!--                            class="hoveredItems w-52 absolute top-10 hidden flex-col items-start justify-start gap-2 p-4 rounded-xl shadow-lg border font-normal bg-white"-->
                <!--                    >-->
                <!--                        <li>-->
                <!--                            <a href="#">Earrings</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Couple Rings</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Necklace</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Bracelets</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                </li>-->
                <!--                <li class="nav_items relative perfume_nav_item">-->
                <!--                    <a href="#Perfume">PERFUME</a>-->
                <!--                    <span-->
                <!--                            class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"-->
                <!--                    ></span>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                    <ul-->
                <!--                            class="hoveredItems w-52 absolute top-10 hidden flex-col items-start justify-start gap-2 p-4 rounded-xl shadow-lg border font-normal bg-white"-->
                <!--                    >-->
                <!--                        <li>-->
                <!--                            <a href="#">Clothes Perfume</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Flower Fragrance</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Safety</a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="#">Air Freshener</a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                    &lt;!&ndash;? hoverItems &ndash;&gt;-->
                <!--                </li>-->
                <!--                <li class="nav_items relative">-->
                <!--                    <a href="#Blog">BLOG</a>-->
                <!--                    <span-->
                <!--                            class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"-->
                <!--                    ></span>-->
                <!--                </li>-->
                <!--                <li class="nav_items relative">-->
                <!--                    <a href="#HotOffers">HOT OFFERS</a>-->
                <!--                    <span-->
                <!--                            class="absolute bottom-0 left-0 w-0 h-0.5 bg-red-400 transition-all ease-in-out"-->
                <!--                    ></span>-->
                <!--                </li>-->
            </ul>
        </nav>
    </div>

    <div class="mobileNavbar">
        <div class="z-10 bg-white w-96 lg:hidden flex justify-around items-center p-4 border rounded-t-xl fixed bottom-0 left-1/2 -translate-x-1/2 text-lg"
             style="box-shadow: 0 0 0.3rem lightgray">
            <button id="openNavbarButton" type="button">
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <button class="relative" type="button">
            <span class="text-xs text-center font-semibold text-white absolute -top-2 -right-2 w-4 h-4 bg-red-400 rounded-full">
              0
            </span>
                <ion-icon name="bag-handle-outline"></ion-icon>
            </button>

            <button type="button">
                <ion-icon name="home-outline"></ion-icon>
            </button>

            <button class="relative" type="button">
            <span class="text-xs text-center font-semibold text-white absolute -top-2 -right-2 w-4 h-4 bg-red-400 rounded-full">
              0
            </span>
                <ion-icon name="heart-outline"></ion-icon>
            </button>

            <button id="categoriesBtn" type="button">
                <ion-icon name="grid-outline"></ion-icon>
            </button>
        </div>
        <!--* overlay -->
        <div
                class="hidden fixed top-0 left-0 w-screen h-screen bg-gray-500/30 z-10"
                id="overlayNavbar"
        ></div>

        <!--! sidebarNavbar -->
        <div
                class="fixed top-0 w-72 h-screen bg-white p-4 shadow-lg hidden flex-col justify-start gap-4 text-lg font-semibold overflow-auto z-20"
                id="sidebarNavbar"
        >
            <div class="flex justify-between border-b-2 py-4">
                <h3 class="text-red-400">Menu</h3>
                <button class="closeButton hover:text-red-500">
                    <ion-icon name="close-circle-outline"></ion-icon>
                </button>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">Home</div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <details>
                    <a href="#">Shirt</a>
                    <a href="#">Shorts & Jeans</a>
                    <a href="#">Safety Shoes</a>
                    <a href="#">Wallet</a>
                    <summary>Men's</summary>
                </details>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <details>
                    <a href="#">Dress & Frock</a>
                    <a href="#">Earrings</a>
                    <a href="#">Necklace</a>
                    <a href="#">Makeup Kit</a>
                    <summary>Women's</summary>
                </details>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <details>
                    <a href="#">Earrings</a>
                    <a href="#">Couple Rings</a>
                    <a href="#">Necklace</a>
                    <a href="#">Bracelets</a>
                    <summary>Jewelry</summary>
                </details>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <details>
                    <a href="#">Clothes Perfume</a>
                    <a href="#">Deodorant</a>
                    <a href="#">Flower Fragrance</a>
                    <a href="#">Air Freshener</a>
                    <summary>Perfume</summary>
                </details>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <a href="#">Blog</a>
            </div>
            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <a href="#">Hot Offers</a>
            </div>

            <div class="mobile_navbar_item border-b pb-3 text-gray-600">
                <details>
                    <div class="border rounded-xl shadow-xl flex flex-col items-start">
                        <a class="border-b w-full pb-2" href="#" th:text="#{lang.vi}"></a>
                        <a class="border-b w-full pb-2" href="#" th:text="#{lang.eng}"></a>
                    </div>
                    <summary>Language</summary>
                </details>
            </div>
            <!--            <div class="mobile_navbar_item border-b pb-3 text-gray-600">-->
            <!--                <details>-->
            <!--                    <div class="border rounded-xl shadow-xl flex flex-col items-start">-->
            <!--                        <a class="border-b w-full pb-2" href="#">USD $</a>-->
            <!--                        <a class="border-b w-full pb-2" href="#">EUR €</a>-->
            <!--                    </div>-->
            <!--                    <summary>Currency</summary>-->
            <!--                </details>-->
            <!--            </div>-->

            <div class="icons flex items-center justify-center gap-4">
                <a class="text-gray-900 bg-gray-300/50 p-2 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center"
                   href="#">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>
                <a class="text-gray-900 bg-gray-300/50 p-2 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center"
                   href="#">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a class="text-gray-900 bg-gray-300/50 p-2 rounded-md hover:scale-110 hover:text-white hover:bg-red-400 flex items-center justify-center"
                   href="#">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </div>
        </div>

        <!--todo sidebarCategories -->
        <div
                class="fixed hidden top-0 w-80 h-screen bg-white p-6 shadow-lg flex-col justify-start gap-4 font-semibold overflow-auto z-20"
                id="sidebarCategories"
        >
            <div class="categories w-full h-auto">
                <div class="w-full flex items-center justify-between">
                    <h1 class="text-lg font-semibold mb-4">CATEGORY</h1>
                    <button class="closeButton text-xl hover:text-red-500">
                        <ion-icon name="close-circle-outline"></ion-icon>
                    </button>
                </div>
                <form name="product-filter">
                    <h3 class="sr-only">Categories</h3>
                </form>
            </div>
        </div>
    </div>
    <!--? Navbar -->
</header>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/assets/index.js" type="module"></script>
</html>